<a href="https://colab.research.google.com/github/KangMJ726/DAP/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1번 문제**


어떤 기준으로 score 값을 채점하는지 안써져 있어서 임의로 정했는데 보통 이 조건인 경우가 맞아서 아마 괜찮을거야. 근데 그래도 혹시 모르니까 수업 때 이런 비슷한 문제 예전에 푼거 있으면 거기 조건이랑 비교해봐.

In [1]:
def check_score(score):
  if score >= 90:
    return "A"
  elif score >= 80:
    return "B"
  elif score >= 70:
    return "C"
  elif score >= 60:
    return "D"
  else:
    return "F"

In [2]:
grade = check_score(70)
print("성적 : ", grade)

성적 :  C

In [3]:
grade = check_score(97)
print("성적 : ", grade)

성적 :  A

**2번 문제**

문자열 출력할 때 %d 이렇게 지정해주는 거 배웠지? 문제 예시랑 띄어쓰기 똑같이 하려면 써야하긴 했는데 안배운 부분이면 쓰면 안될 수 있으니까 마지막 문장 그냥 print("오늘은 10월 ", data, "일 입니다.") 이렇게 해야해.

In [30]:
def today(n,data):
  if data <= 0 or data >= 32:
    print("data를 다시 입력해주세요.")
  else:
    for n in range(0,n):
      print("오늘은 10월 %d일 입니다." %data)

In [31]:
today(5,10)

오늘은 10월 10일 입니다.
오늘은 10월 10일 입니다.
오늘은 10월 10일 입니다.
오늘은 10월 10일 입니다.
오늘은 10월 10일 입니다.

In [14]:
today(3,2)

오늘은 10월 2일 입니다.
오늘은 10월 2일 입니다.
오늘은 10월 2일 입니다.

In [15]:
today(4,-5)

data를 다시 입력해주세요.

**3번 문제**

이게 제일 애매하다. 평균 함수에서 기본적으로 반올림하면 예시랑 다르게 첫번째 average = 242 나오는게 맞아서... 일부러 꼬아서 낸건지 아니면 그냥 오타인건지... 일단 꼬아서 냈다고 생각하고 짰어. 원래 반올림하는 함수 round()에서는 소수점이 0.5가 나오면 홀수일 땐 올림하고 짝수일 땐 내림하는? 그런건데 예시에선 짝수인데도 올림을 해버려서... 그냥 0.5 나오면 무조건  올림하도록 해놓은거야. 그렇게 꼬아서 문제 낼 사람이 아니다, 오타일거다 싶으면 걍 average 함수에서 if부터 else까지 지우고 마지막 return만 돌아가게 해서 내.

In [19]:
def sum(a,b):
  return a+b

def sub(a,b):
  return a-b

def average(a,b):
  if (a+b)/2 - (a+b)//2 == 0.5 and round((a+b)/2) == (int)((a+b)/2):
    return round((a+b)/2)+1
  else:
    return round((a+b)/2)

In [20]:
print("sum = ", sum(41,8), " sub = ", sub(53,15), " average = ", average(53,432))

sum =  49  sub =  38  average =  243

In [21]:
print("sum = ", sum(14,8), " sub = ", sub(23,15), " average = ", average(53,43))

sum =  22  sub =  8  average =  48

**4번 문제**

In [22]:
def fiveTen(n):
  for i in range(0,n):
    print("*")
  if(n <= 5):
    print("Under or Equal 5")
  elif(n <= 10):
    print("5 and 10")
  else:
    print("Over 10")

In [23]:
fiveTen(3)

*
*
*
Under or Equal 5

In [24]:
fiveTen(7)

*
*
*
*
*
*
*
5 and 10

**5번 문제**

In [25]:
def fruit(*name):
  for n in name:
    print(n)
    if(n == "apple"):
      print("RED")

In [26]:
fruit("banna", "apple", "watermelon")

banna
apple
RED
watermelon

In [27]:
fruit("grapes", "pear", "mango")

grapes
pear
mango